---
title: Example
description: A sample exemplar
---

scss:
  @import 'components/topbar', 'components/subnav'

= exemplar_for 'topbar',
    title: 'Top bar',
    description: 'Navigation top bar',
    data: load_yaml('~/prototypes/sample/topbar')

= exemplar_for 'subnav',
    title: 'Sub navigation',
    data: load_yaml('~/prototypes/sample/subnav')

