nav.top-bar(data-topbar)
  ul.title-area
    li.name
      h1: a My Site
    li.toggle-topbar.menu-icon: a: span Menu

  section.top-bar-section
    ul.right
      li.active: a Right Nav Button Active
      li.has-dropdown
        a Right Button with Dropdown
        ul.dropdown
          li: a First link in dropdown

    ul.left
      li: a Left Nav Button
