@import 'bourbon';
@import 'neat';
@import 'pygments/github';

$light-grey: #dedce3;
$sidebar-width: 200px;
$exemplar-page-bgr-color: lighten($light-grey, 5);
$component-color: rgba(#4868af, .2);

@import 'exemplar/options-menu';

.exemplar-page > .exemplar,
.exemplar-page > .exemplars {
  @include outer-container;
}

%section-header {
  font: 200 1.7rem 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: .5rem 0;
  padding-bottom: .5rem;
  color: #675f7f;
  border-bottom: 2px solid rgba(#877aaf, 0.1);
}

%section-subheader {
  color: #999;
  margin: .5rem 0 0;
}

.exemplar-section {
  > header {
    h2 {
      @extend %section-header;
      letter-spacing: -.1rem;
    }

    p {
      @extend %section-subheader;
    }
  }
}

.exemplar-container {
  > header {
    margin-bottom: 2rem;
    -webkit-font-smoothing: antialiased;

    > h1 {
      @extend %section-header;
      font-size: 2.7rem;
    }

    > p {
      @extend %section-subheader;
      font-size: 1.3rem;
    }
  }
}

.exemplar-page.m-list {
  .exemplar-container {
    header > h1 {
      border: none;
      padding: 0;
      color: #af9b7a;
      letter-spacing: .2rem;
      font-weight: 200;
      -webkit-font-smoothing: antialiased;
    }

    header > h2 {
      letter-spacing: .1rem;
    }
  }
}

.exemplar-page {
  padding: 20px;
  background: $exemplar-page-bgr-color;
  padding-left: $sidebar-width + 20;
  color: #444;

  > nav {
    @include position(fixed, 0 0 0 20px);
    width: $sidebar-width - 20;

    ul {
      @include clearfix;
      list-style: none;
      font-size: .9rem;
      line-height: 1.2;
      padding: 0;
      margin: 0;
    }

    li {
      margin: .2rem 0;
    }

    a {
      display: block;
      padding: 8px 10px;
      color: #777;

      &:hover {
        color: inherit;
        background: rgba(black, 0.04);
        text-decoration: none;
      }
    }

    li.s-selected a,
    a:active {
      color: inherit;
      background: rgba(black, 0.1);
      text-decoration: none;
    }
  }

  > nav + .exemplars {
    margin-left: $sidebar-width + 20;
  }
}

.exemplar {
  overflow: hidden;
  margin: 2rem 0 3rem;
  border-radius: 0 0 .4rem .4rem;

  > ._title {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    background: lighten($light-grey, 9);
    padding: 10px 20px;
    margin-bottom: 2px;
    border-radius: .4rem .4rem 0 0;

    h3 {
      font-weight: 400;
      font-size: 1.2rem;
      letter-spacing: -.02rem;
      margin: 0;
    }

    p {
      margin: .2rem 0 0;
      color: #777;
      font-size: .8rem;
    }
  }

  > ._stage,
  > ._source {
    &::before,
    > ._toggle {
      display: block;
      line-height: 1rem;
      margin-bottom: .7rem;
      color: rgba(black, .2);
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  > ._stage {
    background: lighten($light-grey, 9);
    padding: 20px;

    ._view {
      background: lighten($light-grey, 6);
      box-shadow: inset 0 0 2px rgba(black, .1);
    }

    ._component {
      @include transition(200ms max-width);
      box-shadow: 0 0 0 2px $component-color;
      padding: 5px;
      background: white;

      &.__small {
        max-width: 320px;
      }

      &.__medium {
        max-width: 640px;
      }

      &.__large {
        max-width: 1280px;
      }

      &.__default {
        max-width: 100%;
      }
    }

    &::before {
      color: $component-color;
      content: 'Component';
    }
  }

  > ._source {
    background: rgba(black, .03);
    box-shadow: inset 0 1px darken($light-grey, 5);
    padding: 10px 20px;

    ._toggle {
      padding: 4px 8px;
      margin: 0 -8px;
      background: none;
      border: none;
      font-size: 10px;
      text-transform: uppercase;
      outline: none;

      &:hover,
      &:active {
        color: #333;
        box-shadow: 0 0 0 1px rgba(black, .1);
      }
      &:active {
        background: rgba(black, .1);
        box-shadow: 0 0 0 1px rgba(black, .2);
      }
    }

    > ._container {
      display: none;
      margin: 10px -20px 0;
      padding: 0 20px;
      border-top: 1px solid rgba(black, .08);
    }

    pre {
      font: 12px/1.4 Menlo, monospace;
      padding: 5px 0;
    }

    &.__expanded > ._container {
      display: block;
      border-bottom: 1px solid rgba(black, .08);
    }
  }
}
