.exemplar {
  padding: 20px;
  background: #4d5a6d;
}

.exemplar-instance {
  > h1 {
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 200;
    margin: 0 0 20px;
    color: rgba(black, .7);
    text-shadow: 0 1px 0 rgba(white, .3);
    text-align: center;
    cursor: default;
  }

  > ._stage {
    background: white;
    box-shadow: 0 1px 7px rgba(black, .1);
    min-height: 200px;
  }
}
