@import 'bourbon';
@import 'normalize';
@import 'foundation/components/global';

.paragon-intro-page {
  background: #4d5a6d;
  position: static;
}

.paragon-intro {
  @include position(absolute, -8rem 0px 0px 0px);
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
  margin: auto;
  cursor: default;
  height: 14.45rem;

  h1,
  h2 {
    margin: 0;
    line-height: 1;
  }

  h1 {
    font-weight: 100;
    font-size: 13.3rem;
    color: #1b2f36;
    letter-spacing: -.2rem;
    text-shadow: 2px 2px 1px desaturate(lighten(#1b2f36, 15), 15), -2px -2px 1px desaturate(lighten(#1b2f36, 35), 10);
  }

  h2 {
    font-size: 1.15rem;
    color: rgba(#061729, .5);
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-indent: -20rem;
    margin-top: -.8rem;
  }
}
