---
title: 'Foundation: Media Components'
stylesheets:
  - exemplars/foundation/media
---


= exemplar_for nil,
  title: 'Clearing',
  description: 'Example from <a href="http://foundation.zurb.com/docs/components/clearing.html">Foundation website</a>'

  ul.clearing-thumbs(data-clearing)
    li
      a.th href="http://farm4.staticflickr.com/3607/3505221997_79a77b7c1e_b.jpg"
        img data-caption="The Lander Radio-Science on ExoMars, or LaRa, will use NASA’s Deep Space Network of radio telescopes to track part of ESA’s ExoMars mission." src="http://farm4.staticflickr.com/3607/3505221997_79a77b7c1e_s.jpg"
    li
      a.th href="http://farm4.staticflickr.com/3130/2518459091_55e81050c5_b.jpg"
        img data-caption="NASA space shuttle" src="http://farm4.staticflickr.com/3130/2518459091_55e81050c5_s.jpg"
    li
      a.th href="http://farm8.staticflickr.com/7099/6854389016_3518281437_h.jpg"
        img data-caption="NASA\'s Swift Narrows Down Origin of Important Supernova Class" src="http://farm8.staticflickr.com/7099/6854389016_ce4a6d8213_s.jpg"

= exemplar_for nil,
  title: 'Orbit',
  description: 'Example from <a href="http://foundation.zurb.com/docs/components/orbit.html">Foundation website</a>'

  ul.example-orbit(data-orbit)
    li
      .img style="background-image: url(http://farm4.staticflickr.com/3607/3505221997_79a77b7c1e_b.jpg)"
      .orbit-caption The Lander Radio-Science on ExoMars, or LaRa, will use NASA’s Deep Space Network of radio telescopes to track part of ESA’s ExoMars mission.
    li
      .img style="background-image: url(http://farm4.staticflickr.com/3130/2518459091_55e81050c5_b.jpg)"
      .orbit-caption NASA space shuttle
    li
      .img style="background-image: url(http://farm8.staticflickr.com/7099/6854389016_3518281437_h.jpg)"
      .orbit-caption NASA\'s Swift Narrows Down Origin of Important Supernova Class
