---
title: Form Buttons
description: A collection of simple form buttons
---

= exemplar_for nil, title: 'Default button' do
  button Submit

= exemplar_for nil, title: 'Explicit button' do
  button type="button" Submit
