.topbar {
  *zoom: 1;
  background: rgba(0, 0, 0, 0.2); }
  .topbar:before, .topbar:after {
    content: " ";
    display: table; }
  .topbar:after {
    clear: both; }
  .topbar ._name {
    font-size: 18px;
    margin-right: 20px;
    padding: 10px 30px; }
  .topbar ._navigation {
    list-style: none;
    margin: 0;
    padding: 0; }
    .topbar ._navigation a:hover {
      background: rgba(0, 0, 0, 0.05); }
  .topbar ._name,
  .topbar ._navigation,
  .topbar ._navigation li {
    float: left; }
  .topbar a {
    padding: 10px;
    line-height: 20px;
    display: block;
    cursor: pointer;
    color: #555; }
    .topbar a:hover {
      color: #333; }

.subnav {
  padding: 10px 20px;
  cursor: default; }
  .subnav ._label {
    color: #999; }
  .subnav dt,
  .subnav dd {
    display: inline-block; }
  .subnav dd {
    margin: 0 0 0 10px; }
  .subnav a {
    cursor: pointer;
    padding: 5px 10px;
    color: #555; }
    .subnav a:hover {
      background: rgba(0, 0, 0, 0.1);
      color: #333; }
